<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myBharatVyapar</title>
    <link rel="stylesheet" href="library/css/foundation.css" />
    <script src="library/js/vendor/modernizr.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="application/init.js"></script>
    <link href="http://localhost/final_project_1/application/views/app.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

    <section class="hero">
        <!--make a bg img grid having multiple images, fading effect-->
        <div class="row">
            <!--"row" because the page is divided into grids and this framework tells us to do so-->
            <div class="large-12 columns">
                <div class="main-wrapper">
                    <h1>myBharatVyapar</h1>

                    <hr>
                    <div class="row">
                        <div class="large-6 columns large-centered">
                            <ul class="button-group even-4 ">
                                <li><a href="#" class="button">HOME</a></li>
                                <li><a href="#" class="button">ABOUT</a></li>
                                <li><a href="#" class="button">LOGIN</a></li>
                                <!--sign in changes as the screen resizes                     TODO -->
                                <li><a href="#" class="button">SEARCH</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns about-box">
                <div class="black-box">
                    <h2>Register Today!</h2>
                    <form method="post" action="http://localhost/final_project_1/index.php/welcome/prereg/">
                        <div class="login">
                            <input type="email" name="email" placeholder="Email ID" aria-label="email" />
                            <input type="tel" name="tel" placeholder="Phone Number" aria-label="phone" />
                        </div>
                        <div class="switch radius">
                            <p>Are you a vendor?</p>
                            <input id="yes-no" type="checkbox">
                            <label for="yes-no">
                                <span class="switch-on">Yes</span>
                                <span class="switch-off">No</span>
                            </label>
                        </div>
                        <button class="secondary small button">Sign Up →</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="hero-content">
        <h1 class="head">Business Flourishes here</h1>
        <!--use flolurish design image                  -->
        <div class="row">
            <div class="large-8 columns about-content">
                <h4>Start searching your nearest facilities...</h4>
                <div class="large-9 small-10 columns">
                    <input type="text" placeholder="Find Stuff">
                </div>
                <div class="large-3 small-2 columns">

                    <a href="#" class="button radius search">Search</a>
                </div>
            </div>
            <div class="large-4 columns">
                <ul class="small-block-grid-2">
                    <li>
                        <a href="#"><img src="http://localhost/final_project_1/application/views/images/spices.png" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="http://localhost/final_project_1/application/views/images/stationery.png" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="http://localhost/final_project_1/application/views/images/food_truck.png" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="http://localhost/final_project_1/application/views/images/grocery.png" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div id="search_result"></div>
    <section>
        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <div class="row">
                        <div class="large-9 columns">
                            <h4>Get in touch!</h4>
                            <p>We are happy to get your feedback!</p>
                        </div>
                        <div class="large-3 columns">
                            <a href="#" class="radius button right">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="row">
            <div class="large-6 columns">
                <p>© Copyright hai ye bhaiya.</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>
